<div class="card">
    <div class="card-body">
<h1>About</h1>
<p>Lorem ipsum, solo sitj laktfjertqa wwt kjewt ek etjqw ktwLorem ipsum, solo sitj laktfjertqa wwt kjewt ek etjqw ktwLorem ipsum, solo sitj laktfjertqa wwt kjewt ek etjqw ktweeeLorem ipsum, solo sitj laktfjertqa wwt kjewt ek etjqw ktwe</p>
    </div>
</div>
