<div class="jumbotron mt-4">
    <h1 class="display-4">Note App Nodejs and Mongodb</h1>
    <p class="lead"> Lorem impiudajfdaskfj dasfdas fkdsaj</p>
    <hr class="my-4">
    <p> Lorem impiudajfdaskfj dasfdas fkdsaj Lorem impiudajfdaskfj dasfdas fkdsa Lorem impiudajfdaskfj dasfdas fkdsajj</p>
    <a class="btn btn-primary btn-lg" href="/users/signin">Back to signin</a>
</div>
